{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard - SmartCloud{% endblock %}

{% block content %}
<h1 class="h3 mb-4 text-gray-800">Dashboard</h1>

<div class="container py-3">
        <div class="row g-3">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card text-white bg-primary text-center" style="height: 180px; cursor: pointer;" onclick="loadNewFallModal()">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <div class="display-4">+</div>
                        <div>neuer Fall</div>
                    </div>
                </div>
            </div>

            {% for patient in patients %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <a href="{% url 'patientImage' patient.id %}" style="text-decoration: none;">
                        <div class="card text-white bg-info text-center" style="height: 180px; cursor: pointer;">
                            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                <img src="https://img.icons8.com/ios-filled/40/ffffff/task.png" class="mb-3" alt="Case Icon">
                                <h6 class="text-white fw-bold">{{ patient.ptnName }} {{ patient.ptnLastname }}</h6>
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
                <p>No patients found.</p>
            {% endfor %}
        </div>

            {% include 'newFall.html' %}
</div>
<p>Welcome to SmartCloud! This is your index page.</p>


<script>
    function loadNewFallModal() {
        const modal = new bootstrap.Modal(document.getElementById('newFallModal'));
        modal.show();
    }
</script>


{% endblock %}




