/* Fullscreen modal ONLY for our STL viewer */
.modal.stl-modal .modal-dialog{
  width:100vw !important;
  max-width:100vw !important;
  margin:0 !important;
}
.modal.stl-modal .modal-content{
  height:100vh !important;
  border:0;
  border-radius:0;
}
.modal.stl-modal .modal-body{
  padding:0 !important;
  overflow:hidden;
}
